<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button id="audioCapture" class="button button-block" ng-click="captureAudio()">AUDIO</button>
  
    <button id="imageCapture" class="button button-block" ng-click="captureImage()">IMAGE</button>
    <button id="videoCapture" class="button button-block" ng-click="captureVideo()">VIDEO</button>

    <!--button id="MediaAudioCapture" class="button button-block" ng-click="mediaAudio()">Media Audio Capture</button-->

    <button id="MediaAudioPlay" class="button button-block" ng-click="playAudio()">Play Audio</button>

  </ion-content>
</ion-view>
